/* You can add global styles to this file, and also import other style files */
body {

    background: url('/assets/background/forest.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 10%;

}

@media only screen and (width: 400px) {
    body {
        background: url('/assets/background/forest.png');
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-y: 10%;
        background-position-x: 30%;
    }
  }