/* You can add global styles to this file, and also import other style files */
body {

    background: url('/assets/background/forest.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 10%;

}