<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>



<section class="containerAll">

    <div class="containerItems">

        <div>


            <div>

                <h1 class="titleStyle">Enter The Chat</h1>
            </div>

            <div class="playPositioning" style="position:relative">
                <a href="/chat" class="playIconStyle" id="iconStyle" (mouseover)="eventOver()" (mouseout)="eventOut()" ><img  class="playIconStyle2"  src="/assets/icons/play.png" alt=""></a>
                <h1 id="subtitle" class="subtitleStyle">Let's Chat</h1>
            </div>
         
     

        </div>


    </div>

</section>
